
<div class="sb-sidenav-footer" style="margin-bottom:3px;">
    <div class="small" style="color:orangered; font-weight:bold; margin-bottom:1px; font-size:15px;">Admin Kullanıcı Adı:</div>
    <p style="color:white; margin-bottom:-8px;">@ViewBag.adminUserName</p>
</div>