@model MvcOnlineTicari.Models.Entity.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h2>Yeni Kategori Sayfası</h2>
    <br />
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.CategoryName)
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName, "", new { @style = "color:red" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>